# Credentials
backend/config/credentials/
*.json

# Python
__pycache__/
*.py[cod]
*.class
.Python
*.so
.coverage
.pytest_cache/
.env
venv/

# Node
node_modules/
.next/
out/
build/
dist/
.DS_Store

.codegpt